<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Volunteer Here</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Awesomplete Autocomplete -by Lea Verou -->
  	<link rel="stylesheet" href="/assets/css/awesomplete.css" />
  	<!-- Awesomplete Autocomplete -by Lea Verou -->
	<script src="/assets/javascript/awesomplete.js" async></script>
	<!--Google fonts-->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i|Pacifico" rel="stylesheet">
	<!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Font Awesome link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<!-- Site specific overrides -->
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- Local javascript operations file -->
    <script src="/assets/javascript/app.js"></script>

</head>
<body>

<p class="sign" align="right">
    {{#unless logged_in}}
        <a href="/users/sign-in">Sign In</a>
        <a href="/users/new">Sign Up</a>
    {{/unless}}

    {{#if logged_in}}
        Welcome {{name}}! <br>
        <a href="/users/sign-out">Sign Out</a>
    {{/if}}
</p>
	
{{!-- <header> --}}  <!--tpyewriter effect and sign in for users -->
		
		{{!-- {{#unless logged_in}}
                    <a href="#" style="float:right;" class="clearfix"> Sign up to plan your volunteer trip!! </a>
                {{/unless}} --}}
		
		{{!-- <div id="typewriter">
			<h1 class="typewrite" data-period="2000" data-type='["Seattle,WA","Los Angeles,CA","Orlando,FL","Volunteer There...", "Volunteer Anywhere", "Your Adventure Awaits!"]'>
			<span class="wrap"></span>
			</h1>
		</div>
		<nav>
			<ul>
                {{#if name}}
                    Welcome {{name}}!
                {{/if}}
			</ul>
		</nav>
	</header> --}}



	{{{ body }}}
	
	<div class=mainContent><!--Content that explains what we do -->			
		<div class="row" id="information">
			<h1>What do we do?</h1>
			<h2>We help you relax and give back to the communities you visit</h2>
			<div class="col-sm-4" id="destination_explained">
				<div class="plane"><i class="fa fa-plane" aria-hidden="true"></i></div>
				<p>Pick a flight!
			</div>
			<div class="col-sm-4">
				<div class="volunteer_explained">
					<div class="heart"><i class="fa fa-heart" aria-hidden="true"></i></div>
					<p>Pick the cause you believe in to give back to the community you're visiting, and we'll make your itinerary.
				</div>
			</div>
			<div class="col-sm-4">
				<div class="hotels_explained">
					<div class="hotel"><i class="fa fa-bed" aria-hidden="true"></i></div>
					<p>Find a great place to stay at a discounted rate!</p>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery 2.2.4 -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>