<div class="main-container"> <!-- container for all website content -->
		<div class="page-header"> <!-- Page Header -->	
			<h1>Volunteer There... <br/>
				<h2>Volunteer Anywhere</h2>
			</h1> 
		  	<!-- Single button -->
				
			<div id="inputBox">
				<button type="button" id="login" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Login <i class="fa fa-sign-in" aria-hidden="true"></i>
				</button>
				<input type="text" class="form-control" placeholder="USERNAME" id="username"/>
				<div id="error" style="diplay:none;"></div>
				<input type="password" class="form-control" placeholder="PASSWORD" display id="password"/>
				<button type="submit" class="btn btn-default" id="submit1">Submit</button>
				<div id="welcomeName"></div>
				<button type="submit" class="btn btn-default" id="logout">Logout <i class="fa fa-sign-in" aria-hidden="true"></i>
				</button>
			</div>	
		</div> <!-- end of header -->
			
			<div class="container" id="form-container"> <!-- container for form -->
				
				<div class="panel panel-default" id="panelOverride">
					<div class="panel-heading">Plan a trip:
				</div>

					<form> <!--users input -->
						<div class="form-group">
							<div class="row">
								<div class="col-md-4">
									<label for="usersOrigin">Flying from</label> <i class="fa fa-plane" aria-hidden="true"></i><br>
									<input type="text" class="form-control awesomplete" id="usersOrigin" placeholder="City, State (ex: Orlando,FL)*">
								</div>
								<div class="col-md-4">
									<label for="usersDestination">Flying to</label> <i class="fa fa-plane" aria-hidden="true"></i><br>
									<input type="text" class="form-control awesomplete" id="usersDestination" placeholder="City, State (ex: Orlando,FL)*"> 
								</div> 
							</div>	
						</div>	
					
						<div class="form-group">
							<div class="row">
								<div class="col-md-4"
									<label for="departingDate">Departing Date</label>
									<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
									<input type="date" class="form-control" id="departingDate">  
								</div>
								<div class="col-md-4">
								    <label for="returningDate">Returning Date</label>
								    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
								    <input type="date" class="form-control" id="returningDate">  
								</div>
								<div class="col-md-4">
								    <label for="volunteers"> Number of volunteers</label>
								    <select id="volunteers" class="form-control">
								    	<option>1</option>
								    	<option>2</option>
								    	<option>3</option>
								    	<option>4</option>
								    	<option>5</option>
								    	<option>6</option>
								    	<option>more than 6</option> <!-- if more than six have user specify a number -->
								    </select> 
							</div>    
						</div>
						
						<button type="submit" class="btn btn-default" id="submit2"><span class='fa fa-search' aria-hidden="true"></span> Search</button>
						<button type="submit" class="btn btn-default" id="submit3"><span class='fa fa-floppy-o' aria-hidden="true"> </span> Save Search</button>
						<p>*destinations are limited to the United States</p>
					</form>	
				</div>		
			</div> <!-- end of form container -->

		<div id="featured-destinations" class="carousel slide" data-ride="carousel"> <!-- Carousel -->
			<div class="c-wrapper">
				<div class="carousel-inner" role="listbox">
					<h1 class="destinations">Featured Destinations...</h1>
					<div id="NYC" class="featureCity item active" name="New York City, NY">
						<h2 class="city-name">NEW YORK CITY</h2>
					</div>
					<div id="AUSTIN" class="featureCity item" name="Austin, TX">
						<h2 class="city-name">AUSTIN</h2>
					</div>
					<div id="WDC" class="featureCity item" name="Washington DC">
						<h2 class="city-name">WASHINGTON D.C.</h2>
					</div>
					<div id="LA" class="featureCity item" name="Los Angeles, CA">
						<h2 class="city-name">LOS ANGELES</h2>
					</div>
					<div id="CHICAGO" class="featureCity item" name="Chicago, IL">
						<h2 class="city-name">CHICAGO</h2>
					</div>
				</div>
			</div>
			 <a class="left carousel-control" href="#featured-destinations" role="button" data-slide="prev">
    			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    			<!-- <span class="sr-only">Previous</span> -->
  			</a>
			<a class="right carousel-control" href="#featured-destinations" role="button" data-slide="next">
    			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>	
    		</a>	
		</div>		
	</div> <!-- end of container -->

	
	<a href="#" class="scroll" style="display: block;">
		<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		<span class="scroll">Scroll to top </span>
	</a>

 	
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="volOpp">Volunteer Opportunities</h1>
			</div>
		</div>
		<div class="row" id="vol">
			<div id="volCol1" class="col-lg-6"></div>
			<div id="volCol2" class="col-lg-6"></div>
		</div>	
	</div>

	<br>
	<br>
	<br>
	<br>
	<a href="#" class="scroll" style="display: block;">
		<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		<span>Scroll to top </span>
	</a>
	<div class="container">		
		<div class="row">
			<div id="flights" class="col-lg-12">
				<h1>Flights</h1>
				<div class="flights"></div>	
			<div>
		</div>
	</div>
	<a href="#" class="scroll" style="display: block;">
		<i class="fa fa-long-arrow-up" aria-hidden="true"></i>
		<span>Scroll to top </span>
	</a>
	<div class="container">

		<div class="row">
			<div class="col-lg-12">
				<h1 class="volOpp">Available Hotels</h1>
			</div>
			<center>
			<form action="googlehotelsapi.html">
			<button type="submit" class="submitCity btn btn-default" id="sumbit4"><span class='fa fa-search'></span> Search for Hotels</button>
			</form>
			</center>
		</div>